---
---

@import 'material-kit';

i {
  color: #ffffff;
  font-size: 0.9em;
}
.page-header.header-small {
  height: 45vh;
  .container {
    padding-top: 12vh;
  }
}

// Show excerpts in root posts lists bigger
.card p {
  line-height: 1.5em;
  font-size: 1.35em;
}

.card-background.wide .content  {
  max-width: 80%;
  a {
    color: white;
  }
  .card p {
    color: white;
  }
}

.profile-page {
  p{
      font-size: 1.35em;
      line-height: 1.5em;
      color: $gray;
      margin-bottom: 30px;
  }
}

section.post {
  li {
    font-size: 1.35em;
    line-height: 1.5em;
  }
}

.post-thumb .card-image img {
  object-fit: cover;
  height: 240px;
}

// Fill rows from left to right
.container .row {
  display: flex;
  flex-wrap: wrap;

  .post-thumb {
    width: 33.33333%;
  }
}
