---
layout: default
title: Some books I have read and liked
---
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      {% for category in site.data.books.categories %}
        <h3>{{ category | capitalize }}</h3>
        <ul class="books">
          {% for yearly in site.data.books[category] %}
            <div class="row">
              <p class="col-md-12">
                <h4>{{ yearly.year }}</h4>
              </p>
            </div>
            <div class="row">
              {% for book in yearly.books %}
                <div class="col-md-3">
                  <a href="{{ book.link }}" target="_blank">
                    <li>
                      <img class="book-thumb" src="/assets/books/{{ yearly.year }}/{{ book.cover }}" alt="{{ book.title }}"/>
                      <span>{{ book.title }}</span> by
                      <span>{{ book.authors }}</span>
                    </li>
                  </a>
                </div>
              {% endfor %}
            </div>
          {% endfor %}
        </ul>
      {% endfor %}
    </div>
  </div>
</div>
