<footer class="footer">
  <div class="container">
    <a class="footer-brand" href="#pablo">mad.is</a>
    <ul class="pull-center">
      <li>
        <a href="/categories/all">
             Blog
          </a>
      </li>
      <li>
        <a href="/services">
            Services
          </a>
      </li>
      <li>
        <a href="/about">
             About
          </a>
      </li>
      <li>
        <a href="/contact">
            Contact
          </a>
      </li>
    </ul>

    <ul class="social-buttons pull-right">
      <li>
        <a href="https://github.com/madis" target="_blank" class="btn btn-just-icon btn-github btn-simple">
          <i class="fa fa-github"></i>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/MadisIT" target="_blank" class="btn btn-just-icon btn-twitter btn-simple">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/madisnomme" target="_blank" class="btn btn-just-icon btn-linkedin btn-simple">
          <i class="fa fa-linkedin"></i>
        </a>
      </li>
    </ul>

  </div>
</footer>
