<nav class="navbar navbar-primary navbar-transparent navbar-absolute">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        		</button>
      <a class="navbar-brand" href="/">Madis Nõmme</a>
    </div>
    <div class="collapse navbar-collapse" id="navigation-example">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="/">
            <i class="material-icons">home</i> Home
          </a>
        </li>
        <li>
          <a href="/categories/all">
            <i class="material-icons">subject</i> Blog
          </a>
        </li>
        <li>
          <a href="/services">
            <i class="material-icons">assignment_ind</i> Services
          </a>
        </li>
        <li>
          <a href="/about">
            <i class="material-icons">perm_identity</i> About
          </a>
        </li>
        <li>
          <a href="/contact">
            <i class="material-icons">chat</i> Contact
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
