<!doctype html>
<html lang="en">
{% include head.html %}

<body class="blog-posts">
  {% include header.html %}
  <div class="page-header header-filter header-small" data-parallax="active" style="background-image: url('/images/bg-laptop-on-desk.jpeg');">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          {% if page.title %}
            <h2 class="title">{{ page.title }}</h2>
          {% else %}
            <h3 class="title">{{ site.description[0] }}</h3>
            <h4>{{ site.description[1] }}</h4>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  <div class="main main-raised">
      {{ content }}
      {% include email_signup.html %}
  </div>
  {% include footer.html %}
</body>
{% include below_fold.html %}
</html>
