---
layout: default
---
<div class="blog-post">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  <article class="section section-text">
    <header class="post-header">
      <div class="post-meta">
        By <a href="/about" rel="author">{{ site.author.name }}</a> on
        <time datetime="{{ page.date | date: "%-d %B %Y" }}" class="post-meta__date date">{{ page.date | date: "%-d %b %Y" }}</time> &#8226; <span class="post-meta__tags">on {% for tag in page.tags %}<a href="{{ site.baseurl }}tags/#{{ tag }}">{{ tag }}</a> {% endfor %}</span>
      </div>
    </header>

    <section class="post">
      {{ content }}
    </section>
    {% if page.comments != false and site.disqus_shortname %}<section id="disqus_thread"></section><!-- /#disqus_thread -->{% endif %}
  </article>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
  {% if page.comments != false %}{% include disqus.html %}{% endif %}
    </div>
  </div>
</div>
